.lt-ie8 .form-actions { zoom: 1; }
.form-actions:before, .form-actions:after { content: ""; display: table; }
.form-actions:after { clear: both; }

input, textarea, select, .uneditable-input, .radio.inline, .checkbox.inline, .help-inline, .form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-inline .input-prepend, .form-inline .input-append, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input, .form-horizontal .input-prepend, .form-horizontal .input-append, .form-search label, .form-inline label, .button, button, input[type="submit"], input[type="button"], input[type="reset"] { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; }
.lt-ie8 input, .lt-ie8 textarea, .lt-ie8 select, .lt-ie8 .uneditable-input, .lt-ie8 .radio.inline, .lt-ie8 .checkbox.inline, .lt-ie8 .help-inline, .lt-ie8 .form-search input, .form-search .lt-ie8 input, .lt-ie8 .form-search textarea, .form-search .lt-ie8 textarea, .lt-ie8 .form-search select, .form-search .lt-ie8 select, .lt-ie8 .form-search .help-inline, .form-search .lt-ie8 .help-inline, .lt-ie8 .form-search .uneditable-input, .form-search .lt-ie8 .uneditable-input, .lt-ie8 .form-search .input-prepend, .form-search .lt-ie8 .input-prepend, .lt-ie8 .form-search .input-append, .form-search .lt-ie8 .input-append, .lt-ie8 .form-inline input, .form-inline .lt-ie8 input, .lt-ie8 .form-inline textarea, .form-inline .lt-ie8 textarea, .lt-ie8 .form-inline select, .form-inline .lt-ie8 select, .lt-ie8 .form-inline .help-inline, .form-inline .lt-ie8 .help-inline, .lt-ie8 .form-inline .uneditable-input, .form-inline .lt-ie8 .uneditable-input, .lt-ie8 .form-inline .input-prepend, .form-inline .lt-ie8 .input-prepend, .lt-ie8 .form-inline .input-append, .form-inline .lt-ie8 .input-append, .lt-ie8 .form-horizontal input, .form-horizontal .lt-ie8 input, .lt-ie8 .form-horizontal textarea, .form-horizontal .lt-ie8 textarea, .lt-ie8 .form-horizontal select, .form-horizontal .lt-ie8 select, .lt-ie8 .form-horizontal .help-inline, .form-horizontal .lt-ie8 .help-inline, .lt-ie8 .form-horizontal .uneditable-input, .form-horizontal .lt-ie8 .uneditable-input, .lt-ie8 .form-horizontal .input-prepend, .form-horizontal .lt-ie8 .input-prepend, .lt-ie8 .form-horizontal .input-append, .form-horizontal .lt-ie8 .input-append, .lt-ie8 .form-search label, .form-search .lt-ie8 label, .lt-ie8 .form-inline label, .form-inline .lt-ie8 label, .lt-ie8 .button, .lt-ie8 button { display: inline; vertical-align: auto; zoom: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }
.lt-ie8 audio, .lt-ie8 canvas, .lt-ie8 video { display: inline; zoom: 1; }

audio:not([controls]), [hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y: scroll; height: 100%; }

body { margin: 0; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.4; height: 100%; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

ins { background: #ffff99; color: black; text-decoration: none; }

mark { background: yellow; color: black; font-style: italic; font-weight: bold; }

p { margin: 0 0 1.5em 0; }

pre, code, kbd, samp { font-family: Menlo, Monaco, "Courier New", monospace; font-size: 1em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; }
.lt-ie8 button, .lt-ie8 input, .lt-ie8 select, .lt-ie8 textarea { vertical-align: middle; }

button, input { line-height: normal; }

button { cursor: pointer; -webkit-appearance: button; }
.lt-ie8 button { overflow: visible; }

input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
.lt-ie8 input[type="button"], .lt-ie8 input[type="reset"], .lt-ie8 input[type="submit"] { overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
.lt-ie8 input[type="checkbox"], .lt-ie8 input[type="radio"] { width: 13px; height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

form { margin: 0 0 18px 0; }

fieldset { padding: 0; margin: 0; border: 0; }

legend { display: block; width: 100%; padding: 0; margin-bottom: 27px; line-height: 27px; border: 0; border-bottom: 1px solid; }
legend small { font-size: 13.5px; }

label { display: block; margin-bottom: 5px; }

input, textarea, select, .uneditable-input { width: 210px; height: 18px; padding: 4px; margin-bottom: 9px; line-height: 18px; border: 1px solid; font-family: Helvetica, Arial, sans-serif; }

.uneditable-textarea { width: auto; height: auto; }

label input, label textarea, label select { display: block; }

input[type="image"], input[type="checkbox"], input[type="radio"] { width: auto; height: auto; padding: 0; margin: 3px 0; line-height: normal; cursor: pointer; }
.lt-ie10 input[type="image"], .lt-ie10 input[type="checkbox"], .lt-ie10 input[type="radio"] { border: 0; }
.lt-ie8 input[type="image"], .lt-ie8 input[type="checkbox"], .lt-ie8 input[type="radio"] { margin-top: 0; }

input[type="image"] { border: 0; }

input[type="file"] { width: auto; padding: initial; line-height: initial; border: initial; background-color: initial; }

input[type="button"], input[type="reset"], input[type="submit"] { width: auto; height: auto; }

select, input[type="file"] { height: 28px; line-height: 28px; }
.lt-ie8 select, .lt-ie8 input[type="file"] { margin-top: 4px; }

.lt-ie10 input[type="file"] { line-height: 18px; }

select { width: 220px; background-color: white; }

select[multiple], select[size] { height: auto; }

textarea { height: auto; }

input[type="hidden"] { display: none; }

.radio, .checkbox { padding-left: 18px; }

.radio input[type="radio"], .checkbox input[type="checkbox"] { float: left; margin-left: -18px; }

.controls > .radio:first-child, .controls > .checkbox:first-child { padding-top: 5px; }

.radio.inline, .checkbox.inline { padding-top: 5px; margin-bottom: 0; }

.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline { margin-left: 10px; }

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input { float: none; margin-left: 0; }

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { cursor: not-allowed; }

.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline { color: #c09853; }
.control-group.warning input, .control-group.warning select, .control-group.warning textarea { color: #c09853; border-color: #c09853; }
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on { color: #c09853; border-color: #c09853; }
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline { color: #b94a48; }
.control-group.error input, .control-group.error select, .control-group.error textarea { color: #b94a48; border-color: #b94a48; }
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on { color: #b94a48; border-color: #b94a48; }
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline { color: #468847; }
.control-group.success input, .control-group.success select, .control-group.success textarea { color: #468847; border-color: #468847; }
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on { color: #468847; border-color: #468847; }

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid { color: #b94a48; border-color: #b94a48; }

.form-actions { padding: 17px 20px 18px; margin-top: 18px; margin-bottom: 18px; }

.uneditable-input { display: block; cursor: not-allowed; }

.help-block { display: block; margin-bottom: 9px; }

.help-inline { padding-left: 5px; }

.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-inline .input-prepend, .form-inline .input-append, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input, .form-horizontal .input-prepend, .form-horizontal .input-append { margin-bottom: 0; }
.form-search .hide, .form-inline .hide, .form-horizontal .hide { display: none; }

.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend { margin-bottom: 0; }

.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox { padding-left: 0; margin-bottom: 0; vertical-align: middle; }

.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] { float: left; margin-left: 0; margin-right: 3px; }

.control-group { margin-bottom: 9px; }

legend + .control-group { margin-top: 18px; -webkit-margin-top-collapse: separate; }

.form-horizontal .control-group { margin-bottom: 18px; }
.form-horizontal .control-label { float: left; width: 140px; padding-top: 5px; text-align: right; }
.form-horizontal .controls { margin-left: 160px; }
.lt-ie8 .form-horizontal .controls { display: inline-block; margin-left: 0; padding-left: 20px; }
.form-horizontal .help-block { margin-top: 9px; margin-bottom: 0; }
.form-horizontal .form-actions { padding-left: 160px; }

.button, button, input[type="submit"], input[type="button"], input[type="reset"] { cursor: pointer; }

.alert.alert-block, .messages { margin: 0; padding: 0; }
.alert.alert-block ul, .messages ul { margin: 0; padding: 0; }
.alert.alert-block li, .messages li { list-style: none; padding: 8px 35px 8px 14px; margin-bottom: 18px; font-size: 13px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); border: 1px solid black; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; position: relative; }
.alert.alert-block .info, .messages .info { color: #c09853; background-color: #fcf8e3; border-color: #fbeed5; }
.alert.alert-block .success, .messages .success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
.alert.alert-block .error, .alert.alert-block .warning, .alert.alert-block.alert-error li, .messages .error, .messages .warning, .messages.alert-error li { color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.alert.alert-block .message-close, .messages .message-close { position: relative; top: -2px; right: -21px; float: right; font-size: 20px; font-weight: bold; line-height: 18px; color: black; text-shadow: 0 1px 0 white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; }
.alert.alert-block .message-close:hover, .messages .message-close:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }

@media print { * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a { text-decoration: underline; }
  a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr { page-break-inside: avoid; }
  img { page-break-inside: avoid; max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
