<!doctype html>
<head>
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>
</head>

{% block body %}
<body>
    <header>{% block header %}{% endblock header %}</header>
    <div class="content">{% block content %}{% endblock content %}</div>
    <footer>{% block footer %}{% endblock %}</footer>

    <script src="{{ STATIC_URL }}scripts/libs/jquery-2.0.0.min.js"></script>

    <script src="{{ STATIC_URL }}scripts/libs/highcharts.js"></script>

    <script src="{{ STATIC_URL }}scripts/main.js"></script>

    {% block extra_script %}{% endblock extra_script %}

</body>
{% endblock %}
</html>
